/**
 * @file
 * Consultation Calendar element styles.
 */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
div#block-consultationblock {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  font-family: 'Roboto', sans-serif;
  position: relative;
}
#block-consultationblock .content{
  position:relative;
}
.xdsoft_datetimepicker, table {
  font-family: 'Roboto', sans-serif !important;
}
#contact .home_box {
  top: 70%;
  transform: translateX(-50%) translateY(-70%);
}
#block-sidesectioncalendar {
  width: 40%;
  float: left;
}
#content {
  width: 1170px;
  margin: 0 auto;
  float: none;
}
.xdsoft_datetimepicker.xdsoft_inline {
  width: 700px;
  float: inherit;
  text-align: left;
  transition: all 0.22s ease-out;
  z-index: 9;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.08);
  transition: all 0.22s ease-out;
  border: 1px solid #544b4b1f;
  border-radius: 8px;
  padding: 25px 10px 25px 15px;
  height: 100%;
  text-align: center;
  position: relative;
  margin-top: 0;
}
.xdsoft_datetimepicker.xdsoft_inline.no-timepicker {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.08);
  transition: all 0.22s ease-out;
  border: 1px solid #544b4b1f;
  border-radius: 8px;
  padding: 25px;
  margin-top: 0;
  height: 100%;
  float: inherit;
  width: 450px;
  display: flex;
}
.xdsoft_datepicker.active {
  padding-bottom: 20px;
  width: 100%;
}
.xdsoft_datepicker.active.active_timepicker {
  width: 60%;
}
.xdsoft_timepicker.active {
  width: 34%;
}
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_prev, .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_next {
  display: none;
}
.xdsoft_calendar thead th {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  color: #000;
  background: #ffffff!important;
}
.xdsoft_calendar table {
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 4px;
}
.xdsoft_calendar {
  padding-top: 10px;
}
.xdsoft_datetimepicker .xdsoft_calendar td, .xdsoft_datetimepicker .xdsoft_calendar th, .xdsoft_datetimepicker .xdsoft_calendar tr {
  background: #ffffff;
  border: none;
  color: #000;
  padding: 5px;
}
.xdsoft_datetimepicker .xdsoft_calendar .xdsoft_date div {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding: 8px 0 0;
  display: block;
  font-size: 16px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #d6eff34a;
  color: #2794ca;
  text-align: center;
  font-weight: bold;
}
td.xdsoft_date.xdsoft_date.xdsoft_current {
  border-radius: 50%;
  background: #33aaff;
  color: #ffffff !important;
  box-shadow: none;
  text-align: center;
  font-weight: bold;
  height: 35px !important;
  padding: 0;
  width: 35px !important;
  display: block;
  margin: 10px 0 0 10px;
}
td.xdsoft_date.xdsoft_date.xdsoft_current div {
  background: none;
  color: #fff;
}
td.xdsoft_date.xdsoft_date.xdsoft_current.xdsoft_today {
  background: #33aaff;
  border: 0;
  box-shadow: none;
}
td.xdsoft_date.xdsoft_date.xdsoft_current.xdsoft_today div {
  color: #fff;
  font-weight: bold;
}
.xdsoft_datetimepicker .xdsoft_calendar .xdsoft_date.xdsoft_disabled div {
  background: none!important;
  color: #6f6868;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover div {
  border-radius: 50%;
  background: #87c6ce4a!important;
  color: #8fb2c3!important;
}
.xdsoft_datetimepicker .xdsoft_calendar .xdsoft_date.xdsoft_today div::after {
  position: absolute;
  bottom: -20px;
  left: 50%;
  margin-left: -4px;
  content: '.';
  font-size: 34px;
  color: #1586bd;
  font-weight: bold;
}
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box {
  height: 348px;
  border: none;
}
.xdsoft_time_variant {
  padding-bottom: 7px;
}
.xdsoft_datetimepicker .xdsoft_calendar td, .xdsoft_datetimepicker .xdsoft_calendar th, .xdsoft_datetimepicker .xdsoft_calendar tr {
  padding: 5px;
}
td.xdsoft_date.xdsoft_date.xdsoft_current div {
  margin-top: -3px;
  padding: 5px 0 0;
}
.xdsoft_time {
  height: 50px !important;
  width: 90%;
  border: 1px solid #1586bd!important;
  font-size: 15px!important;
  color: #1586bd;
  border-radius: 5px;
  padding: 13px 10px;
  margin: 7px;
  background: none !important;
}
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box .xdsoft_time:hover {
  background: none!important;
  color: #33aaff!important;
  border: 2px solid #22a0de!important;
}
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box .xdsoft_scrollbar:hover {
  background: none!important;
  border: none!important;
}
.xdsoft_time.xdsoft_disabled {
  display: none;
}
.confbtn .cnfbtn {
  background: #05a3f1;
  color: #ffffff;
  height: 50px!important;
  width: 42%;
  font-size: 15px!important;
  border-radius: 5px;
  padding: 13px 10px;
  margin: 3px;
}
.confbtn .cnlbtn {
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  height: 50px!important;
  width: 42%;
  font-size: 15px!important;
  border-radius: 5px;
  padding: 13px 10px;
  margin: 10px;
}
.confbtn {
  box-shadow: none !important;
  background: none !important;
  border: none !important;
  height: auto !important;
}
.confbtn:hover {
  box-shadow: none !important;
  background: none !important;
  border: none !important;
  height: auto !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover, .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div:hover {
  color: #fff !important;
  background: transparent !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div.xdsoft_current {
  color: #2b2828;
  box-shadow: none;
  font-weight: normal;
}
.booking_back_button:before {
  font-family: FontAwesome;
  display: inline-block;
  padding-right: 6px;
  vertical-align: middle;
}
.booking_back_button:before {
  content: "\f060";
}
.back-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  padding: 0;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  font-size: 20px;
  color: var(--primary-color);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #225b7b;
  position: absolute;
  top: 3px;
  z-index: 999;
  left: 3px;
  background: white;
}
.webform-submission-consultation-add-form {
  float: left;
  width: 400px;
  text-align: left;
  transition: all 0.22s ease-out;
  z-index: 9;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.08);
  transition: all 0.22s ease-out;
  border: 1px solid #544b4b1f;
  border-radius: 8px;
  padding: 25px 10px 10px 30px;
  height: 100%;
  position: relative;
  margin-top: 0;
  background: #fff;
  color: #000;
  box-sizing: border-box;
}
.companydetail_block.is-expanded {
  float: none;
  flex-direction: row;
  margin-right: 12px;
  width: 350px;
  min-width: 300px;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,0.08);
  transition: all 0.22s ease-out;
  border: 1px solid #544b4b1f;
  border-radius: 8px;
  padding: 0;
  height: 100%;
  background: #fff;
  color: #000;
}
.companydetail_block.is-expanded .summary-region {
  padding: 25px;
}
.companydetail_block {
  display: flex;
  flex-direction: column;
  margin-right: 12px;
  width: 350px;
  float: left;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,0.08);
  transition: all 0.22s ease-out;
  border: 1px solid #544b4b1f;
  border-radius: 8px;
  padding: 25px;
  height: 100%;
  background: #fff;
  color: #000;
  box-sizing: border-box;
}
.companydetail_block img {
  width: 100%;
  height: auto;
}
div#block-consultationblock h2 {
  font-size: 35px;
  position: absolute;
  top: -80px;
}
.profile-info-event-type-name {
  margin-top: 10px;
  font-size: 26px;
  font-weight: 600;
  line-height: 32px;
}
.mbm {
  line-height: 24px;
  margin-top: 10px;
}
.details-item {
  margin-top: 10px;
}
#block-consultationblock .webform-submission-consultation-add-form input {
  color: #4D5055;
  background: #fff;
  border: 1px solid rgba(0,0,0,0.2);
  outline: none;
  border-radius: 0;
  word-wrap: normal;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  resize: none;
  padding: 6px 12px;
  min-height: 20px;
  width: 90%;
  font-size: 12px;
  height: auto !important;
  margin:0;
}
#block-consultationblock .webform-submission-consultation-add-form label {
  display: block;
  margin-bottom: 2px;
  font-size: 12px;
  font-weight: bold;
}
#block-consultationblock .webform-submission-consultation-add-form #edit-actions-submit {
  color: #fff;
  background: #225b7b;
  position: relative;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  padding: 10px 15px 8px;
  min-height: 44px;
  border: 1px solid transparent;
  border-radius: 6px;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  justify-content: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  width: 140px;
  margin-top: 0;
}
#block-consultationblock .form-item, #block-consultationblock .form-actions {
  margin: 0 0 10px 0;
}
#block-consultationblock .form-actions{
  padding-top:0;
}
.webform-submission-consultation-add-form #edit-slot-booking-type {
  min-height: inherit;
  width: 90%;
  color: #4D5055;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  height: 33px;
  margin: 0;
}
.webform-submission-consultation-add-form .select-wrapper:after {
  right: 10%;
}
.form-item-consultation-date.form-group {
  margin-bottom: 0;
}
div#block-consultationblock .consultation-calendar-form, div#block-consultationblock .consultation-calendar-form .form-item-consultation-date, div#block-consultationblock .content, div#block-consultationblock form.form-item-consultation-date {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.block-consultation-block .form-required:after {
  background-size: contain;
  background-repeat: no-repeat;
  height: 5px;
  width: 10px;
}
.form-group {
  margin-bottom: 12px;
}
@media (max-width: 1366px) {
.page-node-type-page .op-section.second .region-content, .context-contact .op-section.second .region-content {
  width: 100%;
}
}
@media (max-width: 1024px) {
.companydetail_block {
  width: 250px;
}
div#block-consultationblock {
  position: relative;
}
.back-button {
  left: 10px;
}
#content {
  width: 100%;
}
}
@media (max-width: 992px) {
#contact .home_box {
  transform: inherit;
  position: inherit;
}
.companydetail_block.is-expanded {
  width: 250px;
  min-width: 250px;
}
.webform-submission-consultation-add-form #edit-actions-submit {
  width: auto;
}
.companydetail_block {
  width: 200px;
}
.xdsoft_datetimepicker.xdsoft_inline {
  width: 530px;
}
.back-button {
  left: 3px;
}
td.xdsoft_date.xdsoft_date.xdsoft_current {
  height: 33px !important;
  padding: 0 0 0;
  width: 33px !important;
}
td.xdsoft_date.xdsoft_date.xdsoft_current.xdsoft_today {
  padding: 7px 0 0;
}
td.xdsoft_date.xdsoft_date.xdsoft_current.xdsoft_today div {
  padding: 0 0 0;
}
.xdsoft_datetimepicker .xdsoft_calendar .xdsoft_date div {
  height: 33px !important;
  padding: 7px 0 0;
  width: 33px !important;
}
.xdsoft_datetimepicker .xdsoft_calendar .xdsoft_date.xdsoft_today div {
  padding: 6px 0 0;
}
}
@media (max-width: 767px) {
#contact .home_box {
  top: 0;
  transform: inherit;
  position: inherit;
}
div#block-consultationblock {
  display: block;
  height: auto;
}
.companydetail_block.is-expanded, .companydetail_block {
  margin: 0 auto 15px;
  width: 320px
}
.xdsoft_datetimepicker.xdsoft_inline.no-timepicker, .xdsoft_datetimepicker.xdsoft_inline {
  width: 320px;
  margin: 0 auto;
}
.xdsoft_datetimepicker .xdsoft_datepicker {
  margin-left: 0;
}
td.xdsoft_date.xdsoft_date.xdsoft_current, .xdsoft_datetimepicker .xdsoft_calendar .xdsoft_date div {
  height: 30px !important;
  padding: 0;
  width: 30px !important;
  margin: 0px auto;
}
.xdsoft_timepicker.active {
  width: 100%;
}
.webform-submission-consultation-add-form {
  width: 100%;
}
.xdsoft_datepicker.active.active_timepicker {
  width: 100%;
}
.page-node-type-page .op-section.second .region-content, .context-contact .op-section.second .region-content {
  width: 320px !important;
  margin: 0 auto;
}
div#block-consultationblock h2 {
  font-size: 32px;
  padding: 0 15px;
  position: relative;
  top: inherit;
}
td.xdsoft_date.xdsoft_date.xdsoft_current.xdsoft_today {
  padding: 0;
}
td.xdsoft_date.xdsoft_date.xdsoft_current.xdsoft_today div {
  padding: 4px 0 0;
}
.xdsoft_datetimepicker .xdsoft_calendar .xdsoft_date.xdsoft_today div {
  padding: 0;
}
td.xdsoft_date.xdsoft_date.xdsoft_current div {
  margin-top: 3px;
  padding: 4px 0 0;
}
}
